<!-- le name = "blablab" est ce qui correspond a body.name! Preter attention pour que ca corresponde au contenu de la db-->
<div>
    <label>PlayerId</label>
    <input type="text" name="playerId" value="<%= player.playerId %>" />
</div>

<div>
  <label>Name</label>
  <input type="text" name="name" value="<%= player.name %>" />
</div>

<div>
    <label>Nationality</label>
    <input type="text" name="nationality" value="<%= player.nationality %>" />
</div>

<div>
    <label>Club</label>
    <input type="text" name="club" value="<%= player.club %>" />
</div>

<div>
    <label>Overall Rating</label>
    <input type="text" name="overallRating" value="<%= player.overallRating %>" />
</div>

<div>
    <label>Player Image</label>
    <input type="text" name="playerImg" value="<%= player.playerImg %>" />
</div>

<!--<div>
    <label>Profile Picture</label>
    <input type="file" name="profilePicture">
</div>-->



